.go-to-order-wrap {
  align-items: center;
  background-color: #fff;
  background-color: #2a2a2a;
  border-radius: 14px 14px 0 0;
  bottom: calc(var(--mobile-bottom-bar-height) + var(--mobile-bottom-bar-gap));
  box-shadow: none;
  box-shadow: 0 -6px 16px -16px #ababab;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  justify-content: center;
  left: 0;
  margin: -1px auto;
  max-width: 480px;
  max-width: 300px;
  padding: 9px 12px;
  position: fixed;
  right: 0;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  z-index: 101;
}

@media screen and (max-width: 1024px) {
  .go-to-order-wrap {
    bottom: calc(var(--mobile-bottom-bar-height) + var(--mobile-bottom-bar-gap));
  }

  body.telegram-webapp .go-to-order-wrap {
    bottom: calc(
      var(--mobile-bottom-bar-height) + var(--mobile-bottom-bar-gap) + var(--tg-safe-area-inset-bottom)
    );
  }
}
